{% extends "routes/layout.html" %}

{% block body %}
    <h2>تسجيل الدخول</h2>

    {% if message %}
        <div style="color: red; margin-bottom: 10px;">{{ message }}</div>
    {% endif %}

    <form action="{% url 'routes:login' %}" method="post">
        {% csrf_token %}
        <div style="margin-bottom: 10px;">
            <input autofocus class="form-control" type="text" name="username" placeholder="اسم المستخدم">
        </div>
        <div style="margin-bottom: 10px;">
            <input class="form-control" type="password" name="password" placeholder="كلمة المرور">
        </div>
        <input class="btn btn-primary" type="submit" value="تسجيل الدخول">
    </form>
    
    <hr>
    <p>ليس لديك حساب؟ <a href="{% url 'routes:register' %}">أنشئ حساباً جديداً هنا</a>.</p>
{% endblock %}